@import "tailwindcss";
@import "tailwindcss/preflight";

@tailwind utilities;

:root {
  --Background: #1b1b1f;

  --PF-Dark-Base: #313031;
  --PF-Dark-Highlight: #3c3b3c;

  --PF-Dark-Base-CobEnjoyer: #6f536f;
  --PF-Dark-Highlight-CobEnjoyer: #775b77;

  --PF-Dark-Base-CobFriend: #5a6c6e;
  --PF-Dark-Highlight-CobFriend: #617475;

  --PF-Border: #947d5a;

  --DutyTitle-Color: #63a2c0;

  --DutyTags-Completion: #4bb7ce;
  --DutyTags-Practice: #30c185;
  --DutyTags-Loot: #dda837;

  --DutyDescription-Color: #989898;

  --DutyMeta-Color: #b8cfcb;
}

html {background-color: var(--Background);} 
html, body { height: 100%; min-height: 100dvh; font-family: Geneva, Verdana, sans-serif; }

/* Fallback to fully center the first wrapper in case Tailwind utilities are not present */
.page-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.pf-tile {
  width: 75vw;
  padding: 1rem;
  background-color: var(--PF-Dark-Base);
  
  border: 2px solid var(--PF-Border);
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pf-listings-container {
  width: 100%;
  max-height: 80dvh;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
}

.highlighted-row {
  background-color: var(--PF-Dark-Highlight);
}

.listing-row {
  display: flex;
  flex-direction: row;

  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  justify-content: space-between;
  align-items: start;
}

.no-listings {
  color: var(--DutyDescription-Color);
  margin-top: 1rem;
  text-align: center;
}

.duty-info {
  display: flex;
  flex-direction: column;

  width: 50vw;
  max-width: 50vw;
  overflow-x: wrap;
}

.slots {
  display: flex;
  flex-direction: row;

  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.slot-image {
  max-height: 56px;
}

.meta-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  align-self: stretch;

  width: 25vw;
  max-width: 25vw;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.duty-title {
  font-weight: 600;
  font-size: 1.35rem;
  color: var(--DutyTitle-Color);
}

.tag-size {
  font-size: 1.25rem;
}

.duty-description {
  font-size: 1.1rem;
  color: var(--DutyDescription-Color);
}

.loot {
  color: var(--DutyTags-Loot);
}

.completion {
  color: var(--DutyTags-Completion);
}

.practice {
  color: var(--DutyTags-Practice);
}

.none {
  color: var(--DutyDescription-Color);
}

.full-height {
  min-height: 100vh;
}

.meta-text {
  font-size: 1.25rem;
  color: var(--DutyMeta-Color);
  min-width: fit-content;
}

.meta-icon {
  color: var(--DutyMeta-Color);
}

.icon-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.control-panel-container {
  width: 100%;
  justify-content: space-between;
  align-items: center;

  display: flex;
  flex-direction: row;
}

.control-section {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.form-control-text { 
  color: var(--DutyMeta-Color);
  font-size: 1.1rem;
}

.footer-panel-container {
  width: 100%;
  justify-content: space-between;
  align-items: center;

  display: flex;
  flex-direction: row;
  padding-top: 0.3rem;
}

.footer-text {
  font-size: 0.8rem;
  font-weight: lighter;
  font-style: italic;
  opacity: 0.5;

  color: var(--DutyDescription-Color);
}

.cob-enjoyers-base {
  background-color: var(--PF-Dark-Base-CobEnjoyer) !important;
}

.cob-enjoyers-highlight {
  background-color: var(--PF-Dark-Highlight-CobEnjoyer) !important;
}

.cob-friend-base {
  background-color: var(--PF-Dark-Base-CobFriend) !important;
}

.cob-friend-highlight {
  background-color: var(--PF-Dark-Highlight-CobFriend) !important;
}

@layer base {
  
  
  #table-header {
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
  }

  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 1rem;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
