---
import Layout from '../layouts/Layout.astro';
import PF from '../components/PF';

const pageParam = Astro.url.searchParams.get('page') || '1';
let page = Number(pageParam);
if (Number.isNaN(page)) page = 1;
---

<Layout>
  <div>Controls</div>
  <PF client:load page={page} />
</Layout>